html, body {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

h1 {
    text-align: center;
}

canvas {
    background-color: black;
    display: block;
}


@font-face {
    font-family: 'Boogaloo';
    src: url('fonts/Boogaloo/Boogaloo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }    
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

/* Nur im Portrait-Modus */
@media screen and (orientation: portrait) {
    .menu {
        width: 100%;
    }
}

/* Nur im Landscape-Modus */
@media screen and (orientation: landscape) {
    .canvas {
        width: 100vw;
    }
}

